:root {
	--white: #FFFFFF;
	--transparent: #00000000;
}

.figure {
	display: block;
	height: 14rem;
	width: 12rem;
	fill: var(--transparent);
	stroke: var(--white);
	stroke-width: 0.25rem;
	stroke-linecap: round;
	flex-shrink: 0;
}
